/*************
-----MAIN-----
**************/
@import "ownvariables";
main{
    section{
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: auto;
        // background-color: #FFE68A;
        
    }
    .card{
        height: 300px;
    }
}