/***************
-----NAVSIDE-----
****************/
@import "ownvariables";

header{
    height: 100vh;
    background-image: url('../assets/fondo.png');
    background-size: cover;
    // background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: bottom;
    nav{
        background-color: None;
        #logo_navbar{
            height: 50px;
        }
        .container-fluid{
            padding-left: 15%;
            padding-right: 15%;
            background-color: None;
            .navbar-nav{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 60%;
                .nav-item{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    margin:auto;
                    .nav-link{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-weight: 700;
                        text-transform: none;
                        transition: all 1s;
                        .active{
                            font-weight: 800;
                        }
                        &:hover{
                            transition: all 1s;
                            text-decoration-color: rgba($color: #000000, $alpha: 0.6);
                            text-decoration-line: underline;
                            }
                    }
                } 
            }
        }
    }
    .nav_custom{
        display: flex;
        justify-content: space-around;
        background-color: rgba($color: white,  $alpha: 0.95)!important;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 8vh;
        width: 100%;  
    }
    #principal-title{
        span{
            font-size: 7rem;
            font-weight: 1200;
        }
        font-size: 6rem;
        font-weight: 1200;
    }   

}

