//Añado variables a mi proyecto

/*Variables del proyecto*/
$blanco1: white;
$blanco2:whitesmoke;
$font-size1: 16px;
$font-size2: 12px;
$background-nav: #242423;
$background-nav-link: #333533;
$background-main: #E9ECEF;
$shadow: rgba(0, 0, 0, 0.2);
$yellow: #C3FA00;
$saldo: rgb(32, 219, 88);